/* ---- wallust template - colors-rofi ---- */
* {
active-background: #2FA4BE;
active-foreground: #B7E3EC;
normal-background: #171718;
normal-foreground: #B7E3EC;
urgent-background: #2FA4BE;
urgent-foreground: #B7E3EC;

alternate-active-background: #DB6A80;
alternate-active-foreground: #B7E3EC;
alternate-normal-background: #171718;
alternate-normal-foreground: #B7E3EC;
alternate-urgent-background: #171718;
alternate-urgent-foreground: #B7E3EC;

selected-active-background: #2FA4BE;
selected-active-foreground: #B7E3EC;
selected-normal-background: #2FA4BE;
selected-normal-foreground: #B7E3EC;
selected-urgent-background: #2FA4BE;
selected-urgent-foreground: #B7E3EC;

background-color: #171718;
background: rgba(23,23,24, 0.7);
foreground: #B7E3EC;
border-color: #2FA4BE;

color0: #3E3E3F;
color1: #241C25;
color2: #181F29;
color3: #DB6A80;
color4: #2FA4BE;
color5: #F7768E;
color6: #31AEC9;
color7: #90CEDC;
color8: #64909A;
color9: #241C25;
color10: #181F29;
color11: #DB6A80;
color12: #2FA4BE;
color13: #F7768E;
color14: #31AEC9;
color15: #90CEDC;
}
