/* ---- wallust template - colors-rofi ---- */
* {
active-background: #F550BF;
active-foreground: #ECF1ED;
normal-background: #160E11;
normal-foreground: #ECF1ED;
urgent-background: #F550BF;
urgent-foreground: #ECF1ED;

alternate-active-background: #F550BF;
alternate-active-foreground: #ECF1ED;
alternate-normal-background: #160E11;
alternate-normal-foreground: #ECF1ED;
alternate-urgent-background: #160E11;
alternate-urgent-foreground: #ECF1ED;

selected-active-background: #F550BF;
selected-active-foreground: #ECF1ED;
selected-normal-background: #F550BF;
selected-normal-foreground: #ECF1ED;
selected-urgent-background: #F550BF;
selected-urgent-foreground: #ECF1ED;

background-color: #160E11;
background: rgba(22,14,17, 0.7);
foreground: #ECF1ED;
border-color: #F550BF;

color0: #3E3739;
color1: #330720;
color2: #300F20;
color3: #F550BF;
color4: #F550BF;
color5: #959493;
color6: #C8D6CC;
color7: #DBE2DD;
color8: #999E9B;
color9: #330720;
color10: #300F20;
color11: #F550BF;
color12: #F550BF;
color13: #959493;
color14: #C8D6CC;
color15: #DBE2DD;
}
