/* ---- wallust template - colors-rofi ---- */
* {
active-background: #7CA8B4;
active-foreground: #E4EFF2;
normal-background: #000307;
normal-foreground: #E4EFF2;
urgent-background: #7CA8B4;
urgent-foreground: #E4EFF2;

alternate-active-background: #6194A1;
alternate-active-foreground: #E4EFF2;
alternate-normal-background: #000307;
alternate-normal-foreground: #E4EFF2;
alternate-urgent-background: #000307;
alternate-urgent-foreground: #E4EFF2;

selected-active-background: #7CA8B4;
selected-active-foreground: #E4EFF2;
selected-normal-background: #7CA8B4;
selected-normal-foreground: #E4EFF2;
selected-urgent-background: #7CA8B4;
selected-urgent-foreground: #E4EFF2;

background-color: #000307;
background: rgba(0,3,7, 0.7);
foreground: #E4EFF2;
border-color: #7CA8B4;

color0: #020F12;
color1: #2A6B7A;
color2: #45808D;
color3: #6194A1;
color4: #7CA8B4;
color5: #98BDC8;
color6: #B3D1DB;
color7: #D1E0E5;
color8: #929CA0;
color9: #2A6B7A;
color10: #45808D;
color11: #6194A1;
color12: #7CA8B4;
color13: #98BDC8;
color14: #B3D1DB;
color15: #D1E0E5;
}
